/* ===== GLOBAL ===== */
html {
    height: 100%;
    background-color: #111;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #111;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}

/* ===== Container ===== */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background: transparent;
}

/* ===== Header ===== */
header {
    background: #000;
    border-bottom: 4px solid #c40000;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #c400
